<% @recipes.each do |recipe| %>
<h2>Name: <%= recipe.name%></h2>
<p>Ingredients: <%= recipe.ingredients%></p>
<p>Cook time: <%= recipe.cook_time%></p>
<a href="/recipes/<%= recipe.id %>" >View recipe page</a>
<% end %>