<h1>Enter the recipe information here</h1>
<form method='post' action='/recipes'>
    Name: <input id='name' type='text' name='recipe[name]'><br>
    Ingredients: <input id='ingredients' type='text' name = 'recipe[ingredients]'><br>
    Cook Time: <input id='cook_time' type='text' name = 'recipe[cook_time]'><br>
    <input type="submit" id="submit" value="Submit">
</form>